body{
	width: 80%;
	margin: auto;
	background-color: #BBFFBB;
}
.fp_divs{
	position: relative;
	width: 400px;
	height: 250px;
	margin: 20px;
	background-color: #BBFFBB;
	border-radius: 20px;
}
.fp_titles{
	text-align: center;
	line-height: 250px;
	font-size: 50px;
	color: white;
	font-family: 'Roboto';
	opacity: 0;
}
.fp_intro{
	position: absolute;
	left: 10%;
	top: 0px;
	text-align: center;
	line-height: 250px;
	font-size: 50px;
	color: white;
	font-family: 'Roboto';
	opacity: 0;
}
#proj_map{
	position: fixed;
	left: 250px;
	top: 40px;
}
#proj_list{
	position: fixed;
	right: 250px;
	top: 40px;
}
#account{
	position: fixed;
	left: 250px;
	bottom: 40px;
}
#fp_circle{
	position: fixed;
	top: 50%;
	left: 50%;
	margin: -50px 0 0 -50px;
	background-color: white;
	width: 100px;
	height: 100px;
	border-radius: 999em;
}