<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="bookkeeping.css">
    <title>Bookkeeping</title>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
</head>

<body>
    <div id="app">
        <!-- 選單 -->
        <nav>
            <h1>記 帳</h1>
            <ul class="menu_ul">
                <li ><a class="menu1" href="#" type="button" @click="menu1">金額</a></li>
                <li><a class="menu2" href="#" type="button" @click="menu2">誰付的錢？</a></li>
                <li><a class="menu3" href="#" type="button" @click="menu3">為誰？</a></li>
            </ul>
        </nav>
        <hr />

        <!-- 「金額」 -->
        <div v-if="menu == 1">
            
            <!-- 總金額 -->
            <p>
                
                <input  v-model="message_money" class="money" placeholder="點擊輸入帳單金額">
                <!-- 輸入品項 -->
            </p>
            <hr />
            <p>
                <h5>類別：</h5>
                <img src="./images/food.png" width="100" class="sort">
                <img src="./images/accommodation.png" width="100" class="sort">
                <img src="./images/transportation.png" width="100" class="sort">
                <img src="./images/shopping.png" width="100" class="sort">
                <img src="./images/play.png" width="100" class="sort">
                <img src="./images/others.png" width="100" class="sort">
            </p>
            <p>
                <!-- 註釋 -->
                <h5>備註：</h5>
                <table>
                    <tr>
    
                        <td rowspan="2"><img src="./images/pen.png" class="pen"></td>
                        <td><input v-model="message_note" class="msgnote" placeholder="點擊新增備註"></td>
                    </tr>
                    <tr>
                        <td><hr class="note" /></td>
                    </tr>
                </table>
                
    
                <!-- 日期 -->
                <h5>日期：</h5>
            </p>
        </div>

        <!-- 「誰付的錢？」 -->
        <div v-else-if="menu == 2">
            
            <!-- 支付者 -->
            <p>支付者：</p>
                <select v-model="selected">
                    <option>小夏</option>
                    <option>小劉</option>
                    <option>Wiga</option>
                    <option>Yoyo</option>
                </select>
        </div>

        <!-- 「為誰？」 -->
        <div v-else>
            

        </div>
        
    </div>
</body>

<style>
    
</style>

<script>
    var app = new Vue({
        el: '#app',
        data: {
            menu:"1",
            message_money:'',
            message_note:'',
            
        },
        watch: {
            
        },
        methods: {
            menu1() {
                this.menu=1;
            },
            menu2(){
                this.menu=2;
            },
            menu3(){
                this.menu=3;
            }
        },
    })

</script>

</html>